# **Quick Overview of the 24/25 Ski Jumping Season Dataset**
### Let's begin by importing pandas and initializing our DataFrames

In [2]:
import pandas as pd
df_events = pd.read_csv("data/events.csv",delimiter=",")
df_results = pd.read_csv("data/results.csv",delimiter=",")

In [3]:
df_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Event_id  30 non-null     int64
 1   Date      30 non-null     object
 2   Country   30 non-null     object
 3   City      30 non-null     object
 4   HS_Point  30 non-null     int64
 5   K_Point   30 non-null     int64
dtypes: int64(3), object(3)
memory usage: 1.5+ KB

In [4]:
df_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1180 entries, 0 to 1179
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Place     1180 non-null   object
 1   Jumper    1180 non-null   object
 2   Country   1180 non-null   object
 3   Jump1     1180 non-null   float64
 4   Jump2     688 non-null    float64
 5   Points    1180 non-null   float64
 6   Event_id  1180 non-null   int64
dtypes: float64(3), int64(1), object(3)
memory usage: 64.7+ KB

In [5]:
#When someone is DSQ  we consider him as 50th place
df_results["Place"] = pd.to_numeric(df_results["Place"], errors="coerce")
df_results["Place"] = df_results["Place"].fillna(50).astype(int)

**Both datasets seem fine - no missing values.
Just a quick note: In the results dataset, sometimes the "Jump2" field has "NaN." This happens when a jumper doesn't qualify for "Jump2" after "Jump1" (not in the top 30), or if the second round was canceled or didn't take place.
Let's take a look at our datasets.**

In [6]:
df_events.head()
#Contains list of every single ski jumps event, it has its own unique id, and general info about the hill

   Event_id         Date    Country         City  HS_Point  K_Point
0         1   23-11-2024   Norwegia  Lillehammer       140      123
1         2   24-11-2024   Norwegia  Lillehammer       140      123
2         3   30-11-2024  Finlandia         Ruka       142      120
3         4   01-12-2024  Finlandia         Ruka       142      120
4         5   07-12-2024     Polska        Wisła       134      120

In [7]:
df_results.head()
#Provides data about final result for every single event that took place till today (14-03-2025). Jump1 and Jump2 are lenghts of jumps,
#and points are sum of final points get in both jumps (it includes wind/gate and judge points)

   Place              Jumper  Country  Jump1  Jump2  Points  Event_id
0      1        PASCHKE Pius   Niemcy  131.5  138.5   317.1         1
1      2  TSCHOFENIG Daniel   Austria  132.5  132.5   309.2         1
2      3   ORTNER Maximilian  Austria  132.0  131.5   307.1         1
3      4        KRAFT Stefan  Austria  133.0  130.0   306.0         1
4      5           HOERL Jan  Austria  128.5  130.0   300.9         1

 **Merged tables**

In [8]:
df_merged = df_results.merge(df_events, on ="Event_id", how="left")
df_merged.head()

,Place,Jumper,Country_x,Jump1,Jump2,Points,Event_id,Date,Country_y,City,HS_Point,K_Point
0,1,PASCHKE Pius,Niemcy,131.5,138.5,317.1,1,23-11-2024,Norwegia,Lillehammer,140,123
1,2,TSCHOFENIG Daniel,Austria,132.5,132.5,309.2,1,23-11-2024,Norwegia,Lillehammer,140,123
2,3,ORTNER Maximilian,Austria,132.0,131.5,307.1,1,23-11-2024,Norwegia,Lillehammer,140,123
3,4,KRAFT Stefan,Austria,133.0,130.0,306.0,1,23-11-2024,Norwegia,Lillehammer,140,123
4,5,HOERL Jan,Austria,128.5,130.0,300.9,1,23-11-2024,Norwegia,Lillehammer,140,123

**Top 5 longest jumps**

In [9]:
df_jumps1 = df_merged[["Jumper","Country_x", "Jump1", "City"]].rename(columns={"Jump1": "Jump"})
df_jumps2 = df_merged[["Jumper","Country_x", "Jump2", "City"]].rename(columns={"Jump2": "Jump"})

df_jumps = pd.concat([df_jumps1, df_jumps2], ignore_index=True)
dfx = df_jumps.nlargest(5,"Jump")
dfx

                    Jumper   Country_x   Jump        City
1931  FORFANG Johann Andre    Norwegia  235.0  Oberstdorf
798     DESCHWANDEN Gregor  Szwajcaria  234.5  Oberstdorf
1975    TSCHOFENIG Daniel      Austria  233.5  Oberstdorf
1930             ZAJC Timi    Słowenia  233.0  Oberstdorf
1973           WĄSEK Paweł      Polska  233.0  Oberstdorf

**Top 5 shortest jumps**

In [10]:
dfx = df_jumps[df_jumps["Jump"]>0].nsmallest(5,"Jump")
dfx

                    Jumper Country_x  Jump  City
198       HAYBOECK Michael   Austria  70.0  Ruka
197  GRANERUD Halvor Egner  Norwegia  71.5  Ruka
148            AIGRO Artti   Estonia  75.0  Ruka
149            WĄSEK Paweł    Polska  75.5  Ruka
196              KOS Lovro  Słowenia  79.0  Ruka

## All winners of competitions

Winner = 1st place 

Podium = 1st, 2nd or 3rd place

In [11]:
dfx = df_results.groupby(by="Jumper").agg(
    winner = ("Place",lambda x: (x == 1).sum() ), 
    podium=("Place", lambda x: x.isin([1, 2, 3]).sum() )
).sort_values(by=["winner","podium"], ascending=[False,False]
             ).loc[lambda x: (x["winner"] > 0) | (x["podium"] > 0)]
dfx

                           winner  podium
Jumper
TSCHOFENIG Daniel               8      15
PASCHKE Pius                    5       7
KOBAYASHI Ryoyu                 3       3
HOERL Jan                       2      14
KRAFT Stefan                    2       7
FORFANG Johann Andre            1       6
PREVC Domen                     1       3
WELLINGER Andreas               1       1
ZAJC Timi                       1       1
DESCHWANDEN Gregor              0       4
HAYBOECK Michael                0       3
GEIGER Karl                     0       2
LANISEK Anze                    0       2
ORTNER Maximilian               0       2
LINDVIK Marius                  0       1
SUNDAL Kristoffer Eriksen       0       1

## Top 5 average places

In [12]:
places = df_results[["Jumper","Place"]].rename(columns={"Place":"Avg Place"}).groupby(by="Jumper")
avg_place = places.mean().sort_values(by="Avg Place", ascending=True)
avg_place.head(5)

                      Avg Place
Jumper
TSCHOFENIG Daniel      3.458333
HOERL Jan              4.250000
KRAFT Stefan           7.458333
DESCHWANDEN Gregor     9.416667
FORFANG Johann Andre  10.521739

## Average places of Polish jumpers

In [13]:
places_pl = df_results.loc[df_results["Country"] == "Polska",["Jumper","Place"]].rename(columns={"Place":"Avg Place"}).groupby(by="Jumper")
avg_polish = places_pl.mean().sort_values(by="Avg Place")
avg_polish

                      Avg Place
Jumper
WĄSEK Paweł           16.583333
STOCH Kamil           25.333333
ZNISZCZOŁ Aleksander  25.363636
KUBACKI Dawid         26.823529
WOLNY Jakub           29.611111
ŻYŁA Piotr            31.571429
KOT Maciej            36.428571
JUROSZEK Kacper       41.500000

## From which country jumpers are **"The best"**?

In [14]:
dfx = df_jumps[["Country_x","Jump"]].rename(columns={"Country_x":"Country"}).groupby(by="Country")
dfx = dfx.mean().sort_values(by="Jump",ascending=False)
dfx

                  Jump
Country
Ukraina     136.888889
Austria     136.779412
Norwegia    133.459016
Bułgaria    132.485294
Niemcy      132.259336
Japonia     130.175676
Słowenia    129.758824
Polska      129.512821
Francja     128.837500
Szwajcaria  128.287037
USA         125.720000
Finlandia   125.520270
Estonia     122.474359
Turcja      120.210526
Czechy      117.875000
Włochy      116.653846
Kazachstan  103.500000
Chiny       102.000000

This table shows real data, but we can't look at it like this.
Generally, at the top, we have strong countries like Austria or Norwegia, and weaker ones like China or Kazakhstan at the bottom – based on [this data](https://www.skijumping.pl/wyniki/klasyfikacja/ps/puchar_narodow/2024-2025).
However, there are some interesting differences. Ukraine or Bulgaria are at the top, while the USA, despite having good jumpers, is lower.
This is because Ukraine and Bulgaria have only 1-2 top jumpers, whereas the USA has some solid or average jumpers, but also often has some bad ones that drag the overall statistic down.

In [15]:
dfx = df_results.groupby(by="Country")
dfx = dfx["Jumper"].nunique().sort_values(ascending=False)
dfx

Country
Austria       11
Niemcy        10
Norwegia      10
Japonia       10
Słowenia       8
Polska         8
Finlandia      7
USA            7
Szwajcaria     6
Chiny          2
Ukraina        2
Turcja         2
Kazachstan     2
Francja        2
Włochy         2
Bułgaria       1
Czechy         1
Estonia        1
Name: Jumper, dtype: int64

As we can see, the number of distinct jumpers from each country is not equal. Let's try to repeat the previous calculations, but this time, we'll focus only on the top 4 jumpers from each country. We'll skip countries with only 1-2 jumpers. Let's find out who the top 4 jumpers are from every country.

Theres no one perfect method to make decision, we can for example calculate sum of little points get during whole season.

In [16]:
dfx = df_merged.groupby("Event_id")[["Points", "City", "HS_Point", "K_Point"]]
dfx = dfx.agg({"Points": "mean", "City": "first", "HS_Point":"first","K_Point":"first"})

dfx.sort_values(by="Points", inplace=True, ascending=False)

dfx

           Points                    City  HS_Point  K_Point
Event_id
18        331.485              Oberstdorf       235      200
17        330.555              Oberstdorf       235      200
11        224.620              Oberstdorf       137      120
1         217.752             Lillehammer       140      123
14        215.562           Bischofshofen       142      125
16        208.948                Zakopane       140      125
9         204.178               Engelberg       140      125
6         201.904                   Wisła       134      120
20        199.752               Willingen       147      130
3         198.392                    Ruka       142      120
12        197.588  Garmisch-Partenkirchen       142      125
8         196.056        Titisee-Neustadt       142      125
5         195.350                   Wisła       134      120
7         193.592        Titisee-Neustadt       142      125
22        188.016             Lake Placid       128      115
19        186.022               Willingen       147      130
13        183.136               Innsbruck       128      120
10        178.958               Engelberg       140      125
25        178.662                    Oslo       134      120
24        176.986                 Sapporo       137      123
21        175.014             Lake Placid       128      115
2         173.122             Lillehammer       140      123
23        171.376                 Sapporo       137      123
4          86.536                    Ruka       142      120

In [17]:
print( dfx['Points'].corr(dfx['K_Point']))

0.8467354833021605

As we can see, average points the jumper got during competiotion (jumps length + wind/gate + judges) is different, and the correlation between hill size (k_point) and points is big. 
So people who are good at jumping on "Ski flying hill's" will get extra points "for free" while winning.  

On the other hand, situation where jumper from the 1st place win with jumper from 4th place with substraction of 1 competition points is common.
But in this situation the jumper from 4rd place get 50 points less World Cup Points

**Sum of competition points collected by jumper**

In [18]:
dfx = df_results[["Jumper", "Points"]].groupby(by="Jumper").sum().sort_values(by="Points",ascending=False)
dfx

                    Points
Jumper
TSCHOFENIG Daniel   6978.4
HOERL Jan           6892.8
DESCHWANDEN Gregor  6589.0
KRAFT Stefan        6563.3
WELLINGER Andreas   6458.0
...                    ...
PALOSAARI Vilho       80.6
KASAI Noriaki         75.4
DEAN Decker           70.1
SONG Qiwu             69.4
ZHEN Weijie           43.1

[92 rows x 1 columns]

In [19]:

wc_points_dict = {
    1: 100, 2: 80, 3: 60, 4: 50, 5: 45, 6: 40, 7: 36, 8: 32,
    9: 29, 10: 26, 11: 24, 12: 22, 13: 20, 14: 18, 15: 16,
    16: 15, 17: 14, 18: 13, 19: 12, 20: 11, 21: 10, 22: 9,
    23: 8, 24: 7, 25: 6, 26: 5, 27: 4, 28: 3, 29: 2, 30: 1
}
df_results['WCPoints'] = df_results['Place'].map(wc_points_dict)

df_results.head()

,Place,Jumper,Country,Jump1,Jump2,Points,Event_id,WCPoints
0,1,PASCHKE Pius,Niemcy,131.5,138.5,317.1,1,100.0
1,2,TSCHOFENIG Daniel,Austria,132.5,132.5,309.2,1,80.0
2,3,ORTNER Maximilian,Austria,132.0,131.5,307.1,1,60.0
3,4,KRAFT Stefan,Austria,133.0,130.0,306.0,1,50.0
4,5,HOERL Jan,Austria,128.5,130.0,300.9,1,45.0

**Both Competition and World Cup, sum of  Poinst collected by jumper**

In [20]:
dfx = df_results[["Jumper", "Points", "WCPoints"]].groupby(by="Jumper").sum().sort_values(by="WCPoints",ascending=False)
dfx.head(10)

                           Points  WCPoints
Jumper
TSCHOFENIG Daniel          6978.4    1635.0
HOERL Jan                  6892.8    1503.0
KRAFT Stefan               6563.3    1053.0
FORFANG Johann Andre       6225.6     955.0
PASCHKE Pius               5515.6     883.0
DESCHWANDEN Gregor         6589.0     869.0
SUNDAL Kristoffer Eriksen  6074.8     678.0
LANISEK Anze               5641.4     671.0
WELLINGER Andreas          6458.0     669.0
KOBAYASHI Ryoyu            5928.8     666.0

Lets look on Pius Paschke, while he has collected "only" 5515,6 competition this season, he still has 214 more WC points than Andreas Wellinger, even with fact that Andreas has got around 850 competition points more.

In this situation, to choose best 4's we will use wages. Both  competition and WC points will have wage equal 50% (0.5)

This method is still not perfect, but as it was said - its pretty hard to find and define the perfect method. So we will use this method while its good enough

In [21]:
dfx = df_results[["Jumper","Country", "Points", "WCPoints"]].groupby(by="Jumper").agg({"Country":"first", "Points":"sum", "WCPoints":"sum"})

dfx["CombinedPoints"] = dfx["Points"] * 0.5 + dfx["WCPoints"] *0.5

dfx.sort_values(by="CombinedPoints", inplace=True, ascending=False)
dfx.head(10)

                              Country  Points  WCPoints  CombinedPoints
Jumper
TSCHOFENIG Daniel             Austria  6978.4    1635.0         4306.70
HOERL Jan                     Austria  6892.8    1503.0         4197.90
KRAFT Stefan                  Austria  6563.3    1053.0         3808.15
DESCHWANDEN Gregor         Szwajcaria  6589.0     869.0         3729.00
FORFANG Johann Andre         Norwegia  6225.6     955.0         3590.30
WELLINGER Andreas              Niemcy  6458.0     669.0         3563.50
SUNDAL Kristoffer Eriksen    Norwegia  6074.8     678.0         3376.40
ORTNER Maximilian             Austria  6058.4     665.0         3361.70
KOBAYASHI Ryoyu               Japonia  5928.8     666.0         3297.40
PASCHKE Pius                   Niemcy  5515.6     883.0         3199.30

We still can upgrade it, add some wages to "debuff" high points from "ski flying hills", but the moment only two competitions on this hills took place and the rest 22 were on normal hills, we will skip this part.

Lets get only top4 from every country

In [24]:
fx = df_results.groupby(by="Country")
fx = fx["Jumper"].nunique().sort_values(ascending=False)


#Countries with more than 4 jumpers
countries = fx[fx>4].index

countries

Index(['Austria', 'Niemcy', 'Norwegia', 'Japonia', 'Słowenia', 'Polska',
       'Finlandia', 'USA', 'Szwajcaria'],
      dtype='object', name='Country')

In [25]:
df_top4 = dfx[dfx["Country"].isin(countries)].groupby("Country").head(4).sort_values(by=["Country","CombinedPoints"], ascending=[True,False])
df_top4

                              Country  Points  WCPoints  CombinedPoints
Jumper
TSCHOFENIG Daniel             Austria  6978.4    1635.0         4306.70
HOERL Jan                     Austria  6892.8    1503.0         4197.90
KRAFT Stefan                  Austria  6563.3    1053.0         3808.15
ORTNER Maximilian             Austria  6058.4     665.0         3361.70
AALTO Antti                 Finlandia  2698.2      45.0         1371.60
KYTOSAHO Niko               Finlandia  2435.9      28.0         1231.95
VALTO Kasperi               Finlandia  2057.6       2.0         1029.80
NOUSIAINEN Eetu             Finlandia   518.2       7.0          262.60
KOBAYASHI Ryoyu               Japonia  5928.8     666.0         3297.40
NIKAIDO Ren                   Japonia  5687.7     366.0         3026.85
NAKAMURA Naoki                Japonia  4424.2     170.0         2297.10
KOBAYASHI Sakutaro            Japonia  2130.8      35.0         1082.90
WELLINGER Andreas              Niemcy  6458.0     669.0         3563.50
PASCHKE Pius                   Niemcy  5515.6     883.0         3199.30
GEIGER Karl                    Niemcy  5501.5     506.0         3003.75
RAIMUND Philipp                Niemcy  4688.8     185.0         2436.90
FORFANG Johann Andre         Norwegia  6225.6     955.0         3590.30
SUNDAL Kristoffer Eriksen    Norwegia  6074.8     678.0         3376.40
LINDVIK Marius               Norwegia  5407.6     474.0         2940.80
GRANERUD Halvor Egner        Norwegia  4701.5     267.0         2484.25
WĄSEK Paweł                    Polska  5726.3     473.0         3099.65
ZNISZCZOŁ Aleksander           Polska  4661.5     188.0         2424.75
WOLNY Jakub                    Polska  3475.2     105.0         1790.10
KUBACKI Dawid                  Polska  3326.0     111.0         1718.50
DESCHWANDEN Gregor         Szwajcaria  6589.0     869.0         3729.00
PEIER Killian              Szwajcaria  3721.7     126.0         1923.85
TRUNZ Felix                Szwajcaria   981.7       0.0          490.85
AMMANN Simon               Szwajcaria   915.3       2.0          458.65
LANISEK Anze                 Słowenia  5641.4     671.0         3156.20
ZAJC Timi                    Słowenia  5308.0     414.0         2861.00
PREVC Domen                  Słowenia  4537.5     448.0         2492.75
KOS Lovro                    Słowenia  3179.8      99.0         1639.40
FRANTZ Tate                       USA  5034.7     245.0         2639.85
BICKNER Kevin                     USA  4268.0     170.0         2219.00
BELSHAW Erik                      USA  1972.7      26.0          999.35
LARSON Casey                      USA  1448.1       0.0          724.05

In [26]:
dfx = df_top4[["Country", "CombinedPoints"]].groupby(by="Country").mean().sort_values(by="CombinedPoints", ascending=False)
dfx

            CombinedPoints
Country
Austria          3918.6125
Norwegia         3097.9375
Niemcy           3050.8625
Słowenia         2537.3375
Japonia          2426.0625
Polska           2258.2500
Szwajcaria       1650.5875
USA              1645.5625
Finlandia         973.9875

As a result we got list of countries which we look as accurate. We can say with no doubts, that when we analyse it as a teams, no individuals - the best team of jumpers is from Austria with an advantage of about 800 points in our ranking over Norway and Germany.


03/14/2025 update: Due to the scandal related to the modifications to the costume, we have to take a slight correction to the results of this team (This only has an effect on the last competition in which 5 players were suspended)